@model IEnumerable<EShopper.Models.Seeds>

@{ ViewData["Title"] = "Home"; }
@{
    Layout = "_Layout";
}
    <p>
    <a asp-action="Create" class="btn btn-secondary">Add New Seeds</a>
</p>

<table class="table table-info table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPacket)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kg)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumberOfPacket)
    </td>
    <td>
        <a asp-action="Edit"  class="btn btn-secondary" asp-route-id="@item.Id">Edit</a>
        <a asp-action="Details"  class="btn btn-secondary" asp-route-id="@item.Id">Details</a>
        <a asp-action="Delete" class="btn btn-secondary" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>}
    </tbody>
</table>
