@model IEnumerable<EShopper.Models.Fruits>

@{
    ViewData["Title"] = "Fruits";
}
@{ Layout = "_Layout"; }
<br />
    <p>
    <a asp-action="Create" class="btn btn-secondary">Order Fruits</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryAddress)
                </td>
                <td>
                    <a asp-action="Edit" type="button" class="btn btn-warning" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" type="button" class="btn btn-warning" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" type="button" class="btn btn-warning" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
