@model IEnumerable<EShopper.Models.Vegetables>

@{ ViewData["Title"] = "Vegetables"; }

@{ Layout = "_Layout"; }
<p>
    <a asp-action="Create" class="btn btn-secondary">Add New Vegetables</a>
</p>
<table class="table table-info table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Type)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-secondary">Edit</a>
        <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-secondary">Details</a>
        <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-secondary">Delete</a>
    </td>
</tr>}
    </tbody>
</table>
